.container {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.jumbotron {
  background-color: transparent;
  color: #630505;
}

.jumbotron h1 {
  font-weight: bold;
  font-size: 70pt;
}

form {
  margin-left: 30%;
  margin-right: 30%;
}

.checkbox label{
  font-size: 20pt;
}

#account-form {
  display: none;
  font-size: 20pt;
}

#pizza-form {
  display: none;
  font-size: 20pt;
}

#order-confirmation {
  display: none;
  font-size: 25pt;
}



img {
  width: 70%;
}
